.letter {
    font-size: 72px;
    font-family: 'CircularPro-Black', sans-serif; 
    font-weight: 700;
  }

.letter:hover {
    fill: #a8a8a8;
}  

#Orchestra_Background:hover {
    cursor: pointer;
    fill-opacity: 0; 
    stroke-width: 2; 
    stroke: #ffaa18;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
}

#Theatre_Background:hover {
    cursor: pointer;
    fill-opacity: 0; 
    stroke-width: 2; 
    stroke: #ffaa18;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
}

#Costuming_Background:hover {
    cursor: pointer;
    fill-opacity: 0; 
    stroke-width: 2; 
    stroke: #ffaa18;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
}

#Props_Background:hover {
    cursor: pointer;
    fill-opacity: 0; 
    stroke-width: 2; 
    stroke: #ffaa18;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
}